<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Stalemate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
  	<div>
  		<a class="logo-links" href="/api-docs"><img src="/images/swagger-32x32.png" alt="FedHipster API Docs" /></a>
  		<a class="logo-links" href="https://github.com/OctoConsulting/fedhipster-api"><img src="/images/github-32x32.png" alt="FedHipster GitHub" /></a>
  	</div>
    <h1 class="font-<%=classFont%>"><%= title %></h1>
    <img class="home-img" src="/images/fedhipster_<%=numImg%>.png" alt="FedHipster" />
  </body>
</html>
